<h3>Index</h3>

<p>{{link-to 'New card' 'cards.new'}}</p>

<table>
  <tr>
    <th>Letter</th>
  </tr>
  {{#each}}
    <tr>
      <td>{{link-to letter 'cards.show' this}}</td>
    </tr>
  {{/each}}
</table>
