<div>
  <label for="">Duration</label>
  {{input value=duration}}
</div>
<div>
  <label for="">Score</label>
  {{input value=score}}
</div>

<button type="submit" {{action save this}}>Save</button>
<button type="submit" {{action cancel this}}>Cancel</button>
