/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*:focus {
  outline: none;
}

.correct {
  font-weight: bold;
}

.md-content .choices .choice {
  display: inline-block;
  width: 60px;
  margin: 3px;
  border: solid #e74c3c;
  border-width: 0 0 2px 0;
  &.is-selected {
    border: solid white;
    border-width: 0 0 2px 0;
    background: #A5281B;
  }
}

.main span {
  font-size: 70%;
}

.start-quiz{
  float: right;
  margin-top: 10px;
  &:focus {
    outline: none;
  }
}
